{% extends 'base.html.twig' %}

{% block title %}Wish list{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-8 p-5 d-flex flex-column">
            <a href="{{ path('wish_add') }}" class="btn btn-info text-center m-3 align-self-center">Add a new wish</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-center">Detail</th>
                </tr>
                </thead>
                <tbody>
                {% for wish in wishes %}
                    {% if wish.isPublished %}
                        <tr>
                            <td>{{ wish.title }}</td>
                            <td class="text-center">
                                <a href="{{ path('wish_detail', { 'id' : wish.id }) }}"><i class="fa fa-info"></i></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
