@import "~bootstrap/scss/bootstrap";

:root {
  --main-bg:  #ECF8F6;
  --secondary-bg: #18534F;
  --text: #FEEAA1;
  --b: #226D68;
  --c: #D6955B;
}

body {
  background-color: var(--main-bg);
  min-height: 100vh;
  color:  #226D68;

}

nav, footer {
  background-color: var(--secondary-bg);
}

.navbar-collapse {
  max-width: fit-content !important;
}

.navbar-text, .nav-item {
  color:  #FEEAA1;
}

li {
  color: #FEEAA1;
}

main {
  flex-grow: 1;
}

.logo {
  width: 40px;
  fill: #FEEAA1;
  //filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg)
  //brightness(104%) contrast(104%);
}